<% layout('layouts/boilerplate.ejs') %>
<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><%= err.message %></h4>
    <p>
        <% if(process.env.NODE_ENV !== 'production'){ %>
            <%= err.stack %>
        <% }  else { %>
            <h1>An unexpected error has occured!</h1>
        <% } %>
    </p>
  </div>