body{
    font-family: 'DM Sans';
}

.registerBg{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/content/register.jpg');
    background-size: 110%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: background-position 0.1s ease-out;
}

.loginBg{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/content/login.jpg');
    background-size: 110%;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    transition: background-position 0.2s ease-out;
}

.scroll-button{
    position: fixed;
    top: 540px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; 
    padding: 10px 20px;
    border-radius: 5px;
}

.img-responsive{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}