<% layout('layouts/boilerplate.ejs') %>
<div id="map" style="
    width: 100%; 
    height: 600px;
    ">
</div>

<button id="scroll-button" class="scroll-button btn bg-transparent text-white border border-white float-left d-md-none d-block">↓ View all ↓</button>

<main id="indexMain" class="container mt-5 bg-dark rounded d-flex flex-column" >
    <%- include('../partials/flash')  %>
    <div class="container w-50 mb-5 pt-4" style="z-index: 3;">
        <h1 class="text-center text-light"><%= message %></h1>
        <form action="/campgrounds/search" data-bs-theme="dark" method="get">
            <div class="mb-3">
            <input type="text" class="form-control" id="searchall" name="search" placeholder="E.g: Wooden Campsite">
            </div>
        </form>
    </div>

    <% if(!result){ %>
        <h2 class="text-center pb-5">Sorry, no campsites found :/</h2>
    <% } else {%>
    <ul id="campgrounds-list" style="list-style: none;">
    
    </ul>
    <h5 id="result-message" class="text-center mb-4 pb-4"></h5>

    <button type="button" id="load-more-button" class="btn btn-dark w-100 border-dark-subtle mb-3">Load More...</button>
    <% } %>

    <script>
        const mapToken = '<%- process.env.MAPBOX_TOKEN %>'
        const campgrounds = {features: <%- JSON.stringify(campgrounds)%>}
    </script>
    <script src="/js/showClusterMap.js"></script>
    <script src="/js/pagination.js"></script>
    <script src="/js/interface.js"></script>
</main>