<% layout('layouts/boilerplate.ejs') %>

<div class="container d-flex flex-column justify-content-center align-items-center">
    <h1 class="align-self-center">New Campground</h1>

    <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Campground title:</label>
            <input type="text" class="form-control" id="title" name="campground[title]" placeholder="Campground Title" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please name the campground!
            </div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Campground Location:</label>
            <input type="text" class="form-control" id="location" name="campground[location]" placeholder="Campground Location" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please specify the campground location!
            </div>
        </div>

        <label for="campground[image]" class="form-label">Campground Image:</label>
        <input class="form-control" type="file" name="image" accept=".JPEG, .jpg, .jpeg, .png, .webp"  multiple required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please submit an image/s! (Allowed formats: JPEG, PNG)
        </div>
        
        <label for="price" class="form-label">Campground Price</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="price-addon">$</span>
            <input type="text" class="form-control" id="price" name="campground[price]" placeholder="Price" aria-describedby="price-addon" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Please specify the campground price in USD!
            </div>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Campground Decription:</label>
            <input type="text" class="form-control" id="description" name="campground[description]" placeholder="Campground Description" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                Briefly describe the campground!
            </div>
        </div>

        <button type="submit" class="btn btn-success">Add Campground</button>
    </form>

</div>

